<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="<%= Routes.static_path(@conn, "/images/fset-ico.svg") %>" sizes="16x16" type="image/svg+xml">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= if assigns[:current_user] do %>
      <meta name="myuser" content="<%= @current_user.username %>"/>
    <% end %>
    <%= csrf_meta_tag() %>
    <%= title(assigns) %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script>
      <%= if assigns[:project] do %>
        window.projectName = "<%= Phoenix.Token.sign(@conn, "project name", @project.key) %>";
        window.currentFile = "<%= @current_file_key %>";
        window.project_path = "<%= @project_path %>";
      <% end %>
      <%= if assigns[:user_token] do %>
        window.userToken = "<%= @user_token %>";
      <% end %>
      <%= if assigns[:is_project_unclaimed] do %>
        window.isUnclaimed = "<%= "yes_and_no :)" %>";
      <% end %>
    </script>
    <script defer type="module" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="text-gray-300 bg-matte-black" style="min-width: 1024px">
    <main role="main" class="">
      <%= @inner_content %>
    </main>
  </body>
</html>
