<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="<%= Routes.static_path(@conn, "/images/fset-ico.svg") %>" sizes="16x16" type="image/svg+xml">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= if assigns[:current_user] do %>
      <meta name="myuser" content="<%= @current_user.username %>"/>
    <% end %>
    <%= csrf_meta_tag() %>
    <title>Fsetapp</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
    <script defer type="module" src="<%= Routes.static_path(@conn, "/js/paddle.js") %>"></script>
    <%= if Application.get_env(:fset, :environment) == :dev do %>
      <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <% end %>
  </head>
  <body class="text-gray-300 bg-matte-black">
    <main role="main" class="min-h-screen">
      <header class="py-1 m-px px-2">
        <%= render FsetWeb.LayoutView, "_user_menu.html", assigns %>
      </header>
      <%= @inner_content %>
    </main>
  </body>
</html>
