## Prod related

# The directory Mix will write compiled artifacts to.
/_build/
# from "mix hex.build"
fset-*.tar
# from "mix archive.build"
*.ez
# The directory NPM downloads your dependencies sources to.
/assets/node_modules/
/assets/js/internal
# Building assets from assets/
/priv/static/assets
*.map

## Dev related

# If you run "mix test --cover", coverage assets end up here.
/cover/
/deps/
/doc/
# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch
erl_crash.dump
npm-debug.log
# Editor-plugin stuff
.elixir_ls
