details > summary { display: flex; }
details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
}
[hidden] {
  display: none !important;
}
a:any-link:focus,
a:any-link:hover {
  outline: none;
  text-decoration: underline;
}
img { max-width: none;}

/* Form */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px var(--gray-meta) inset !important;
  border: 1px solid var(--gray-meta) !important;
}
input:autofill {
  -webkit-box-shadow: 0 0 0 50px var(--gray-meta) inset !important;
  border: 1px solid var(--gray-meta) !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: var(--gray-300) !important;
}
/* Fix Chrome messing with our business */
