@import "./tailwind.css";
@import "./theme-vars.css";

@import "./tree.css";
@import "./tab.css";
@import "./vendor/fbox.min.css";
@import "./kbd.css";
@import "./form.css";
@import "./billing.css";

.bg-matte-black {
  background-color: var(--matte-black) !important;
}
.bg-gray-meta {
  background-color: var(--gray-meta);
}

details > summary { display: flex; }
details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
}
details-menu { min-width: 22ch; z-index: 1;}

[hidden] {
  display: none !important;
}
sch-meta > form {
  @apply text-xs;
}

.root-item {
  margin: 0;
}
.root-item > [role='group'] {
  margin-bottom: .5rem;
}

/* actions */
[data-tree-action]:focus {
  @apply outline-none ring-1 ring-gray-700
}

.bg-grid {
  background-image:
    linear-gradient(var(--grid-color) 2px, transparent 2px),
    linear-gradient(90deg, var(--grid-color) 2px, transparent 2px),
    linear-gradient(var(--subgrid-color), 1px, transparent 1px),
    linear-gradient(90deg, var(--subgrid-color), 1px, transparent 1px);
  background-size: 200px 200px, 200px 200px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
