@import "./tailwind.css";
@import "./theme-vars.css";

@import "./tree.css";
@import "./tab.css";
@import "./vendor/fbox.min.css";
@import "./kbd.css";

.bg-black {
  background-color: var(--matte-black);
}
.bg-gray-meta {
  background-color: var(--gray-meta);
}

[hidden] {
  display: none;
}
sch-meta > form {
  @apply text-xs;
}

.root-item {
  margin: 0;
}
.root-item > [role='group'] {
  margin-bottom: .5rem;
}
