.fbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: .25rem;
}

.fbox .box-label {
  display: flex;
  align-items: baseline;
  background-color: var(--gray-meta);
  color: var(--gray-400);
  flex-grow: 1;
  min-height: 100%;
  word-break: break-all;
  border-radius: 3px;
}

.fbox .box-label:focus-within {
  color: var(--blue-500);
  border-color: var(--blue-500);
}

.fbox .box-label.readonly,
.fbox .box-label.readonly input[readonly] {
  color: var(--gray-500);
}

.fbox>p {
  margin: 0 .125rem;
}

/* .fbox .box-label.title {
  display: flex;
  align-items: baseline;
  width: 100%;
} */

.fbox .l,
.fbox .err {
  margin: 0;
  padding: .25rem .5rem;
  font-size: .75rem;
  line-height: 1rem;
  flex-shrink: 0;
}

.fbox .err {
  color: red;
}

.fbox input:not(:focus):not(:placeholder-shown):invalid,
.fbox textarea:not(:focus):not(:placeholder-shown).invalid {
  border-bottom: 1px solid red;
  box-shadow: none;
}

.fbox textarea:focus,
.fbox input:focus,
.fbox select:focus {
  outline: none;
  border-color: transparent;
  box-shadow: transparent;
}

.fbox textarea,
.fbox input,
.fbox select {
  display: block;
  padding: .5rem;
  color: var(--gray-300);
  background-color: transparent;
  width: 100%;
  min-width: 0;
  border: 0;
}

.fbox textarea {
  resize: none;
  font-family: inherit;
}

.fbox input {
  border: 1px solid transparent;
}

.fbox input[type='checkbox'] {
  margin: .5rem;
  width: auto;
}

.fbox select {
  width: auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 3em;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;

  appearance: none;
  -webkit-appearance: none;
  border: none;
}

.fbox select>option {
  color: black;
}

sch-meta .docs-head {
  display: flex;
  align-items: baseline;
}

sch-meta>.meta-def {
  padding: 1rem 0;
  word-break: break-all;
  --meta-def-color: var(--indigo-400);
}

sch-meta>.meta-def+p {
  color: var(--pink-400);
  margin: .5rem 0;
}
