.btn-gray {
  @apply px-3 py-2 bg-gray-700 text-sm;
}

.btn-gray:hover {
  @apply bg-gray-800;
}

.btn-gray:focus {
  @apply ring-2 ring-gray-400 outline-none;
}

sch-meta {
  --key-color: lightgreen;
  --type-color: var(--pink-400);
  --ref-color: var(--indigo-400);
}

sch-meta>.meta-def {
  padding: 1rem 0 .5rem;
  word-break: break-all;
  --meta-def-color: var(--indigo-400);
}

sch-meta>.meta-def+p {
  color: var(--pink-400);
  margin: .5rem 0;
}

sch-meta .referrers {
  margin: 1rem 0 .5rem
}

.referrers+ul {
  @apply text-sm text-gray-400;
}

sch-meta .defs-docs {
  margin: 1rem 0 0;
}

.defs-docs+ul {
  --docs-description: var(--gray-400);
  --docs-description-font: var(--font-sans);
  @apply prose prose-sm prose-blue;
}

.defs-docs+ul t-md code,
.defs-docs+ul t-md strong {
  color: var(--gray-300);
}

.defs-docs+ul>li {
  padding: .5rem 0;
}

.defs-docs+ul dt {
  display: flex;
  flex-wrap: wrap;
}

.defs-docs+ul dt .s {
  margin: 0 .5rem;
}

.defs-docs+ul dt .k {
  color: var(--gray-300);
  text-decoration: none;
}

.defs-docs+ul dd {
  @apply font-light;
}

.defs-docs+ul dt .k,
.defs-docs+ul dt .t {
  max-width: 70%;
}

combo-box {
  width: 100%;
  position: relative;
}

/* search */
/* w-full px-2 py-1 text-sm rounded bg-matte-black border border-gray-800 focus:outline-none focus:ring-1 focus:ring-blue-500 */
.autoComplete_list {
  max-height: 50vh;
  @apply mt-1 p-0.5 z-50 absolute text-gray-100 bg-gray-900 w-full border border-gray-700 shadow-2xl overflow-auto;
}

.autoComplete_result {
  @apply px-2 py-1 text-xs font-light text-gray-200 tracking-wide;
}

.autoComplete_result:nth-child(2n+1):not(.autoComplete_selected):not(:hover) {
  background-color: var(--gray-meta);
}

.autoComplete_result:nth-child(2n):not(.autoComplete_selected):not(:hover) {
  @apply bg-gray-800;
}

.autoComplete_result mark {
  @apply bg-transparent text-yellow-500 font-semibold;
}

.autoComplete_result_t {
  @apply text-gray-500 font-normal;
}

.autoComplete_selected.notfound {
  @apply border-gray-400 bg-gray-200;
}

.autoComplete_result:hover,
.autoComplete_selected {
  @apply text-gray-100 bg-blue-700;
}

.autoComplete_result:hover .autoComplete_result_t,
.autoComplete_selected .autoComplete_result_t {
  @apply text-gray-100 font-normal;
}
