:root {
  --gray-300: rgba(209, 213, 219, 1);
  --gray-700: rgba(55, 65, 81, 1);
  --gray-900: rgba(17, 24, 39, 1);
  --blue-500: rgba(59, 130, 246, 1);
  --pink-400: rgba(244, 114, 182, 1);
  --indigo-400: rgba(129, 140, 248, 1);
  --matte-black: rgba(14, 19, 31, 1);
  color-scheme: dark;
}
