#fmodel [role="tree"] {
  --tree-min-width: 374px;
  --tree-bg-color: var(--gray-900);
  --tree-color: var(--gray-300);

  --item-root-bg-color: var(--matte-black);
  --item-selected-bg-color: var(--gray-meta-75);
  --item-selected-border-color: var(--gray-600);
  --item-selected-header-bg-color: var(--gray-700);

  --key-color: var(--gray-300);
  --type-color: var(--pink-400);
  --ref-color: var(--indigo-400);

  --input-bg-color: var(--gray-800);
  --input-color: var(--gray-300);

  --diff-new-color: rgba(144, 238, 144, .5);
  --diff-removed-color: rgba(255, 0, 0, .5);
  --diff-moved-color: rgba(59, 130, 246, .5);
  --diff-changed-color: rgba(255, 140, 0, .5);
}

#project [role="tree"] {
  --tree-min-width: 187px;
  --tree-bg-color: var(--gray-900);
  --tree-color: var(--gray-300);

  --item-selected-bg-color: midnightblue;
  --item-selected-border-color: var(--blue-500);
  --item-selected-header-bg-color: var(--gray-700);

  --key-color: var(--gray-300);
  --type-color: var(--pink-400);
  --ref-color: var(--indigo-400);

  --diff-new-color: rgba(144, 238, 144, .5);
  --diff-removed-color: rgba(255, 0, 0, .5);
  --diff-moved-color: rgba(59, 130, 246, .5);
  --diff-changed-color: rgba(255, 140, 0, .5);
}

#fmodel [role="tree"] > .root-item > .h,
#project [role="tree"] > .root-item > .h {
  padding-right: 8rem;
}
#fmodel [role="tree"] > .root-item[aria-selected='true'] > .h:after,
#project [role="tree"] > .root-item[aria-selected='true'] > .h:after {
  position: absolute;
  right: 1rem;
  content: "shift +";
  color: var(--gray-400);
}
#project textarea { min-width: 25ch; }

#project [role="tree"] [role='treeitem'] > .h[data-group-size] {
  padding-right: 2rem;
}
#project [role="tree"] [role='treeitem'] > .h[data-group-size]:after {
  position: absolute;
  content: attr(data-group-size);
  right: .25rem;
  top: .5rem;
  color: var(--gray-400);
  background-color: var(--gray-800);
  border-radius: 100%;
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  font-size: .625rem;
}
#project [role="tree"] [role='treeitem'] .k {
  max-width: 100%;
}

sch-meta > .meta-def {
  padding: 1rem 0 .5rem;
  word-break: break-all;
  --meta-def-color: var(--indigo-400);
}
sch-meta > .meta-def + p {
  color: var(--pink-400);
  margin: .5rem 0;
}

combo-box {
  width: 100%;
  position: relative;
}
