#fmodel [role="tree"] {
  --tree-min-width: 374px;
  --tree-bg-color: var(--gray-900);
  --tree-color: var(--gray-300);

  --item-root-bg-color: var(--matte-black);
  --item-selected-bg-color: midnightblue;
  --item-selected-border-color: var(--blue-500);
  --item-selected-header-bg-color: var(--gray-700);

  --key-color: var(--gray-300);
  --type-color: var(--pink-400);
  --ref-color: var(--indigo-400);

  --diff-new-color: rgba(144, 238, 144, .5);
  --diff-removed-color: rgba(255, 0, 0, .5);
  --diff-moved-color: rgba(59, 130, 246, .5);
  --diff-changed-color: rgba(255, 140, 0, .5);
}

#project [role="tree"] {
  --tree-min-width: 187px;
  --tree-bg-color: var(--gray-900);
  --tree-color: var(--gray-300);

  --item-selected-bg-color: midnightblue;
  --item-selected-border-color: var(--blue-500);
  --item-selected-header-bg-color: var(--gray-700);

  --key-color: var(--gray-300);
  --type-color: var(--pink-400);
  --ref-color: var(--indigo-400);

  --diff-new-color: rgba(144, 238, 144, .5);
  --diff-removed-color: rgba(255, 0, 0, .5);
  --diff-moved-color: rgba(59, 130, 246, .5);
  --diff-changed-color: rgba(255, 140, 0, .5);
}

sch-meta > .meta-def {
  padding: 1rem 0;
  word-break: break-all;
  --meta-def-color: var(--indigo-400);
}
